<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
</head>
<body>
<nav th:fragment="common-nav">
    <ul>
        <li>HTML</li>
    </ul>

</nav>

<div th:fragment="footer">
    <script rel="script" href="/libs/jquery/jquery-3.6.0.min.js"></script>
    <script rel="script" href="/libs/bootstrap/js/bootstrap.js"></script>
    <script rel="script" href="/libs/bootstrap/js/bootstrap.bundle.js"></script>
</div>


</body>
</html>