<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>
<link rel="stylesheet" href="/css/login.css">

<body>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xl-5 mx-auto">
            <div class="card card-signin flex-row my-5">
               <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form class="form-signin">
                       <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                   required>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <hr>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                   required>
                            <label for="inputPassword">Password</label>
                        </div>



                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>

                        <a class="d-block text-center mt-2 small" href="forgot-password">Forgot Password?</a>
                        <hr class="my-4">
                        Don't have account? <a class=" text-center mt-2 small" href="sign-up">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: footer"/>

</body>
</html>