<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>
<link rel="stylesheet" href="/css/login.css">

<body>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xl-5 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin" th:action="@{/register}" method="post">
                        <div class="form-label-group">
                            <input type="text" id="inputUserame" class="form-control"
                                   placeholder="Employee Id" required name="id"
                                   autofocus>
                            <label for="inputUserame">Employee Id</label>
                        </div>

                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                   required>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <hr>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control"
                                   placeholder="Password" name="password"
                                   required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password"
                                   required>
                            <label for="inputConfirmPassword">Confirm password</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                        <hr class="my-4">
                        Have a account? <a class="text-center mt-2 small" href="login">Sign in</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: footer"/>

</body>
</html>